{% extends "./base.html" %}

{% block body %}

<script type="text/javascript">
    function descargar(ruta){
        window.open(ruta, "Donwload");
    }
</script>
<div class="row mt-4">
    <div class="col-md-12">
        <nav class="navbar bg-dark">
            <div class="container-fluid">
                <div class="">

                </div>
                <h2 style="color: white;">Documentos</h2>
              <form class="d-flex" role="search" action="/buscar" method="POST">
                <input name="texto" class="form-control me-2" type="search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
              <form class="d-flex" action="/create" method="POST" enctype="multipart/form-data">
                <input style="color: white" type="file" name="archivo">
                <button type="submit">Subir</button>
            </form>
            </div>
          </nav>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-dark">
                <thead>
                    <tr>
                        <th>Nombre archivo</th>
                        <th>Fecha subida</th>
                        <th>Subido por</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in files%}
                    <tr>
                        <td>{{file.1}}</td>
                        <td>{{file.2}}</td>
                        <td>{{file.3}}</td>
                        <td> <a class="enlace_tabla" href="file://192.168.2.165/Archivos Subidos/{{file.1}}">Descarga</a></td>
                        <td>
                            <a class="enlace_tabla" href="/delete/{{file.0}}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}